html,
body {
    overflow-x: hidden;
}

* {
    outline: none !important;
}

.navbar {
    border-bottom: 1px solid #263c77;
}

.modbutton {
    padding: 5px 20px;
}

.emailsub {
    width: 100%;
    border: 2px solid #eaeaea;
    padding: 10px;
    border-radius: 3px;
    transition: all .3s ease !important;
    ;
    -webkit-transition: all .3s ease !important;
    ;
    -moz-transition: all .3s ease !important;
    ;
    -o-transition: all .3s ease !important;
    ;
}

.emailsub:focus {
    border-color: #333;
    transition: all .3s ease !important;
    ;
    -webkit-transition: all .3s ease !important;
    ;
    -moz-transition: all .3s ease !important;
    ;
    -o-transition: all .3s ease !important;
    ;
}

.mbr-section-btn > .display-4 a {
    background: red;
}

.newcolor {
    background: #263c77 !important;
    transition: all .3s ease !important;
    ;
    -webkit-transition: all .3s ease !important;
    ;
    -moz-transition: all .3s ease !important;
    ;
    -o-transition: all .3s ease !important;
    ;
}

.newcolor:hover,
.newcolor:active {
    background: #2b458b !important;
    transition: all .3s ease !important;
    ;
    -webkit-transition: all .3s ease !important;
    ;
    -moz-transition: all .3s ease !important;
    ;
    -o-transition: all .3s ease !important;
    ;
}

.mbr-iconfont-social,
.newcolor2 {
    color: #2b458b !important;
}

.tbox {
    padding: 40px;
    margin-top: 30px;
    border: 4px solid #eaeaea;
    border-radius: 3px;
}

.pricebox {
    border: 2px solid #eaeaea;
    color: #263c77;
    text-align: center;
    /*    padding:20px 20px 0px 20px;*/
    padding: 20px;
}

.pricenumber {
    display: block;
    font-size: 32pt;
}

.priceathlete {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14pt;
    display: block;
}

.rateprice {
    color: #50bf50;
    display: block;
    padding-top: 20px;
    font-size: 32pt;
}

.priceeach {
    font-size: 14pt;
    color: #50bf50;
    display: block;
}

.pricebutton {
    background: #263c77;
    color: white;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s ease !important;
    -webkit-transition: all .3s ease !important;
    -moz-transition: all .3s ease !important;
    -o-transition: all .3s ease !important;
}

.pricebutton:hover {
    background: #33509d;
    color: white !important;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .3s ease !important;
    -webkit-transition: all .3s ease !important;
    -moz-transition: all .3s ease !important;
    -o-transition: all .3s ease !important;
}